<div id="info-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Tietoa Bio Kexistä</h4>
      </div>
      <div class="modal-body">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate deserunt fuga fugit labore laboriosam provident recusandae tempora tenetur! Aliquid amet architecto at consequuntur eligendi nisi officia similique velit voluptas! Animi?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>