<div id="signup-modal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Rekisteröidy uudeksi käyttäjäksi helposti tästä</h4>
      </div>
      <div class="modal-body">
          <!-- LOGIN FORM -->
          <form name="register" onsubmit="return false">
              <div class="form-group">
                  <label>Käyttäjänimi</label>
                  <input type="text" class="form-control" name="name">
              </div>
              <div class="form-group">
                  <label>Sähköposti</label>
                  <input type="text" class="form-control" name="email">
              </div>
              <div class="form-group">
                  <label>Salasana</label>
                  <input type="password" class="form-control" name="pwd1">
              </div>
              <div class="form-group">
                  <label>Salasana uudelleen</label>
                  <input type="password" class="form-control" name="pwd2">
              </div>
              <button class="btn btn-warning btn-lg" onclick="return registerUser()">Rekisteröidy</button>
          </form>

          <hr />

          <p>
              Oletko jo käyttäjä? <button type="button" class="btn btn-lg btn-default" data-dismiss="modal" data-toggle="modal" data-target="#login-modal">Kirjaudu sisään.</button>
          </p>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Sulje</button>
      </div>
    </div>

  </div>
</div>

<script>
    /**
     * Validate password confirmation
     */
    function registerUser(event) {
        let name = document.forms.register.name.value;
        let email = document.forms.register.email.value;
        let pwd1 = document.forms.register.pwd1.value;
        let pwd2 = document.forms.register.pwd2.value;
        let result = (pwd1 === pwd2);
        if(!(name && email && pwd1 && pwd1))
            result = false;
        if(!result) {
            window.alert('Salasanat eivät täsmää tai kenttä tyhjä');
        } else {
            doAjaxPOST('/register',
                'name='+name+'&email='+email+'&pwd='+pwd1,
                function (res) {
                    if(res.status === 'OK')
                        window.alert('Rekisteröinti onnistui');
                    else
                        window.alert('Rekisteröinti epäonnistui');
                    location.reload();
                }
            );
        }
        // prevent submit
        return false;
    }

</script>