<div class="site-wrapper">

  <div class="site-wrapper-inner">

    <div class="cover-container">

      <div id="navbar" class="masthead clearfix">
        <div class="header">
          <h3 class="masthead-brand">Bio Kex</h3>
          <nav>
            <ul class="nav masthead-nav">
              <li><a href="#" data-toggle="modal" data-target="#signup-modal">Rekisteröidy</a></li>
              <li><a href="#" data-toggle="modal" data-target="#login-modal">Kirjaudu</a></li>
              <li><a href="#">Tietoja</a></li>
            </ul>
          </nav>
        </div>
      </div>
