<% include ./partials/head %>
<% include ./partials/header %>



        <div id="userReservations" class="col-sm-12">

        </div>
        <script>
            var reservations;
            $.get('/userReservations', function(resp) {
                reservations = resp.reservations;
                userReservations.showReservations(reservations);
            });
        </script>


            <h3><center>Information dump</center></h3>
            <p>
                <strong>id</strong>: <%= user._id %><br>
                <strong>email</strong>: <%= user.local.email %><br>
                <strong>password</strong>: <%= user.local.password %>
            </p>

<% include ./partials/footer %>
