<% include ./partials/head %>
<% include ./partials/header %>

    <div class="row">
        <!-- LOCAL INFORMATION -->
        <div class="col-sm-12">
                <h3><center>
                        <span class="fa fa-user"></span> Local
                </center></h3>

                    <p>
                        <strong>id</strong>: <%= user._id %><br>
                        <strong>email</strong>: <%= user.local.email %><br>
                        <strong>password</strong>: <%= user.local.password %>
                    </p>

            </di<center>

            </center>v>

    </div>

<% include ./partials/footer %>
