<!-- views/signup.ejs -->
<!doctype html>
<html>
<head>
    <title>Node Authentication</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
        body        { padding-top:80px; }
    </style>
</head>
<body>
<div class="container">

<div class="col-sm-6 col-sm-offset-3">

    <h1><span class="fa fa-sign-in"></span> Signup</h1>

    <!-- show any messages that come back with authentication -->
    <% if (message.length > 0) { %>
        <div class="alert alert-danger"><%= message %></div>
    <% } %>

    <!-- LOGIN FORM -->
    <form name="register" action="/" method="post" onsubmit="register(e)">
        <div class="form-group">
            <label>Käyttäjätunnus</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Sähköposti</label>
            <input type="text" class="form-control" name="email">
        </div>
        <div class="form-group">
            <label>Salasana</label>
            <input type="password" class="form-control" name="password" id="pwd1">
        </div>
        <div class="form-group">
            <label>Salasana uudelleen</label>
            <input type="password" class="form-control" id="pwd2">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Rekisteröiidy</button>
    </form>

    <hr>

    <p>Already have an account? <a href="/login">Login</a></p>
    <p>Or go <a href="/">home</a>.</p>

</div>

    <script>
        /**
         * Validate password confirmation
         */
        function register(event) {
            // don't submit the usual way
            event.preventDefault();
            let name = document.forms.register.name.value;
            let email = document.forms.register.email.value;
            let pwd1 = document.forms.register.pwd1.value;
            let pwd2 = document.forms.register.pwd2.value;
            let result = (pwd1 === pwd2);
            if(!result) {
                window.alert('Salasanat eivät täsmää!');
            } else {
                doAjaxPost('/register',
                    'name='+name+'&email='+email+'&pwd'+pwd1,
                    function (err, res) {
                        if(res.status === 'OK')
                            window.alert('Rekisteröinti onnistui');
                        else
                            window.alert('Rekisteröinti epäonnistui');
                    }
                );
            }
        }
        /**
         * Send POST request
         * @param url
         * @param params
         * @param cb
         */
        function doAjaxPost(url, params, cb) {
            let xhttp = new XMLHttpRequest();
            xhttp.onreadystatechange = function() {
                if(this.readyState === 4) {
                    targetp.textContent = this.responseText;
                    if(cb)
                        cb(JSON.parse(this.responseText));
                }
            };
            xhttp.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            xhttp.open('POST', 'http://localhost:8080/'+url, true);
            xhttp.send(params);
        }
    </script>

</div>
</body>
</html>
