/*
 * Globals
 */

/*
* Headers
*/



h3 {
    font-size: 20px;
    margin: 1em;
    text-align: left;
}

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}

p {
    margin: 1em;
}

/*
 * Base structure
 */

html,
body {
  height: 100%;
  background: url('/img/turku.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  background: rgba(0, 0, 0, 0.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
    margin: 0px auto 0px auto;
    background-color: rgba(0,0,0,0.3);
    padding-top: 4em;
}

/*
 * Header
 */
.masthead {
    z-index: 50;
    height: 3.5em;
}

#navbar {
    background: rgba(0, 0, 0, 0.8);
}

.header {
    padding: 0 30px;
}

.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
li#usermessage {
    margin-right: 30px;
    margin-left: 30px;
    opacity: 0.7;
}
.masthead-nav > li > a {
    padding-right: 0;
    padding-left: 0;
    font-size: 16px;
    font-weight: bold;
    color: #fff; /* IE8 proofing */
    color: rgba(255,255,255,.75);
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
    background-color: transparent;
    color: white;
    border-bottom-color: #a9a9a9;
    border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}
.cover .btn-lg {
  padding: 10px 20px;
  font-weight: bold;
}

/*
* Frontpage movie reel
*/

.movie-card {
    display: flex;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    background: rgba(255,255,255, 0.5);
    border-radius: 0.5em;
    padding: 1em;
    margin: 1em;
    text-align: left;
    height: 15em;
}

.movie-img {
    flex: 2;
    height: 10em;
    width: 5em;
    padding: 0.2em;
    overflow: hidden;
    border-radius: 5px;
}

.movietitle {
    float: left;
}


.movieDisplay {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
}

.movie-info {
    height: 100%;
    flex: 2;
}

.screenings {
    flex: 3;
    height: 100%;
    overflow: auto;
}
.screenings a {
    display: block;
    margin: 0px;
    width: 100%;
    transition: all 0.5s;
}

.screenings a:hover {
    text-indent: 3px;
    color: #00b3ee;
}

/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}

/*

Modal settings

*/

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.modal-content {
    background: rgba(50,50,50,0.8);
}

.modal-header,
.modal-body,
.modal-footer {
    border: none;
}




/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: fixed;
    top: 0;
  }
  .mastfoot {
    position: initial;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
     /*vertical-align: middle;*/
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 900px;
  }
}
